margin-top: 20px;

.info-bar {
   
   background: #ddd;
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 35px;
   padding-top: 8px;
   width: 100%;
   font-size: 13px;
   border-top: 1px solid #c4c4c4;
   
}

.alert{
    padding: 4px;
    margin-bottom: 2px;
    .author {
        font-weight: bold;
        &.mine {
            font-style: italic;
        }
    }
}

.container {
    width: 100%;
}
